<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276092691435-70hqmkhoehunujvako7c6nn18efdli4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276092691435-70hqmkhoehunujvako7c6nn18efdli4m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>276092691435-h1k40o0sbsqi96tu5apq1cv2md8ubr55.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZFTc5i4wUZlmbjCNcKlhPy-McBAG_h10</string>
	<key>GCM_SENDER_ID</key>
	<string>276092691435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.usu.doctor</string>
	<key>PROJECT_ID</key>
	<string>ayodokter</string>
	<key>STORAGE_BUCKET</key>
	<string>ayodokter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276092691435:ios:3bdd9899d6898dd2816fae</string>
	<key>DATABASE_URL</key>
	<string>https://ayodokter-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>